.blog-item {
  width: calc(50% - 10px);
  border-radius: 8px;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 5px 6px 14px rgba(0, 0, 0, 0.2);
  .image-thumb {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .content-details {
    padding: 16px;
    .title {
      margin: 0;
      font-size: 20px;
      font-weight: bold;
      color: #313131;
    }
    .author {
      margin: 0;
      font-size: 12px;
      margin-top: 4px;
      color: gray;
    }
    .body {
      margin: 0;
      margin-top: 18px;
      font-size: 16px;
      color: #353535;
    }
  }
}
